.c-footer
  .o-container
    .c-footer__content
      .c-footer__group
        input#email(type="email", name="email" placeholder="Updates in your inbox...").c-footer__email
        a(href="#!").c-btn.c-btn--small.c-btn--orange Go
     
      nav.navbar.navbar--list-1
        ul.c-menu.c-menu--list
          li.c-menu__item: a(href="#!").c-menu__link Home
          li.c-menu__item: a(href="#!").c-menu__link Pricing
          li.c-menu__item: a(href="#!").c-menu__link Products
          li.c-menu__item: a(href="#!").c-menu__link About Us

      nav.navbar.navbar--list-2
        ul.c-menu.c-menu--list
          li.c-menu__item: a(href="#!").c-menu__link Careers
          li.c-menu__item: a(href="#!").c-menu__link Community
          li.c-menu__item: a(href="#!").c-menu__link Privacy Policy
      
      nav.navbar.navbar--social
        ul.c-menu.c-menu--social
          li.c-menu__item
            a(href="#").c-menu__link: i.fab.fa-facebook-square
          li.c-menu__item
            a(href="#").c-menu__link: i.fab.fa-youtube
          li.c-menu__item
            a(href="#").c-menu__link: i.fab.fa-twitter
          li.c-menu__item
            a(href="#").c-menu__link: i.fab.fa-pinterest
          li.c-menu__item
            a(href="#").c-menu__link: i.fab.fa-instagram
                
      .c-footer__brand
        a(href="index.html"): img(src="images/logo-white.svg", alt="logo").brand__footer
        
      .c-footer__copy
        p &copy; Copyright 2020. All Rights Reserved
        
    p.attribution Challenge by 
      a(href="https://www.frontendmentor.io?ref=challenge", target="_blank") Frontend Mentor.
      | Coded by 
      a(href="https://github.com/Devcrowmaster") Alexander