.o-container--full
  .c-manage
    .c-manage__content
      h2.heading--secondary What’s different about Manage?
      p.c-manage__description Manage provides all the functionality your team needs, without the complexity. Our software is tailor-made for modern digital product teams.
    .c-features
      .c-feature
        .c-feature__heading
          span.c-btn.c-btn--small.c-btn--orange 01
          h2.c-feature__title Track company-wide progress
        p.c-feature__description See how your day-to-day tasks fit into the wider vision. Go from tracking progress at the milestone level all the way done to the smallest of details. Never lose sight of the bigger picture again.

      .c-feature
        .c-feature__heading
          span.c-btn.c-btn--small.c-btn--orange 02
          h2.c-feature__title Advanced built-in reports
        p.c-feature__description Set internal delivery estimates and track progress toward company goals. Our customisable dashboard helps you build out the reports you need to keep key stakeholders informed.

      .c-feature
        .c-feature__heading
          span.c-btn.c-btn--small.c-btn--orange 03
          h2.c-feature__title Everything you need in one place
        p.c-feature__description Stop jumping from one service to another to communicate, store files, track tasks and share documents. Manage offers an all-in-one team productivity solution.