.o-container
  .c-intro
    .c-intro__image
      img(src="images/illustration-intro.svg", alt="hero")
    .c-intro__content
      h1.heading--primary Bring everyone together to build better products.
      p.c-intro__description Manage makes it simple for software teams to plan day-to-day tasks while keeping the larger team goals in view.
      a(href="#!").c-btn.c-btn--orange.c-btn--medium Get Started
