.c-features{
  display: grid;
  gap: 3rem;
  position: relative;
  padding-left: 1rem;
  @media ($tablet){
    padding-left: 2rem;
  }
  @media ($desktop){
    padding-left: 0;
  }
}
.c-feature{
  &__icon{
    margin-bottom: 2.5rem;
    img{
      margin: 0 auto;
      height: 4rem;
    }
  }
  &__heading{
    border-radius: 3rem 0 0 3rem;
    background: rgba($Bright-Red,.2);
    display: flex;
    align-items: center;
    @media ($desktop){
      background: none;
    }
  }
  &__title{
    margin: 0;
    margin-left: .7rem;
    font-size: 1rem;
    color: $Dark-Blue;
    @media ($desktop){
      margin-left: 1.2rem;
      font-size: 1.1rem;
    }
  }
  &__description{
    padding-right: 1rem;
    color: $Dark-Grayish-Blue;
    font-size: .9rem;
    line-height: 1.8;
    @media ($tablet){
      padding-right: 2rem;
    }
    @media ($desktop){
      padding-right: 0;
      padding-left: 5rem;
    }
  }
}